.mainContainer {
    max-width: 1000px;
    min-height: 100vh;
}
.backgroundShape1Wrapper {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    max-width: 55%;
    position: absolute;
    left: 0;
    top: 0;
}
.backgroundShape1Wrapper img {
    max-width: 100%;
}
.headerBackground {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 40%;
    background: url('../../public/images/template (2).svg') no-repeat top center
        fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
@media (max-width: 1280px) {
    .mainContainer {
        max-width: 981px;
    }
}
@media (max-width: 991px) {
    .backgroundShape1Wrapper {
        display: none;
    }
    .mainContainer {
        max-width: 757px;
    }
}
@media (max-width: 767px) {
    .mainContainer {
        max-width: 565px;
    }
}
